.font(@s,@c,@w,@b,@ff){
  font-size: @s;
  color: @c;
  font-weight: @w;
  background: @b;
  font-family: @ff;
}
.fo {
  font-family: "Trebuchet MS";
  font-size: 9px;
  font-weight: bold;
  color: @m_b;
}
.sep {
  width: 1px;
  height: 35px;
  background: #dcd9a5;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
}

.search_but {
  display: inline-block;
  min-width: 60px;
  height: 23px;
  float: left;
  border: 1px solid #d27d00;
  border-radius: 1px;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(180deg, #f6e5af, #ee981c);
  a {
    display: inline-block;
    color: #0f0f0f;
    text-align: center;
    width: 100%;
    min-height: 23px;
    border-radius: 1px;
  }

  a:hover {
    text-decoration: none;
    background: linear-gradient(90deg, #f6e5af, #ee981c);;
    min-width: 58px;
    min-height: 21px;
    border-radius: 1px;
  }
}
